header {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 5rem;
}

nav {
	display: flex;
	flex-flow: row nowrap;
	align-items: baseline;
}
nav a {
	margin-left: 2rem;
}
nav a:hover {
	/* color: red; */
	text-decoration: underline;
}

.bordered-btn {
	border: 2px solid;
	border-radius: 30px;
	padding: 0.5rem 1rem;
}
.bordered-btn:hover {
	background-color: #201b15;
	color: #f7dfdb;
	text-decoration: none;
}
